*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../imgs/body-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3em;
}

main .head{
    width: 100%;
}
.head img{
    width: 200px;
}

label{
    display: block;
    margin: 1em 0;
    font-weight: bold;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    padding: 1em;
}
input:focus{
    outline: none;
    border-color: #0067b8;
}
#btn{
    margin: 2em 0;
    width: 30%;
    cursor: pointer;
    border: none;
    background-color: #0067b8;
    color: white;
    align-self: end;
    justify-self: flex-end;
}
#btn:hover{
    transform: translateY(-5px);
    transition: .3s ease;
    background-color: #003964;
}
.error-message {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    background-color: rgba(248, 0, 0, 0.479);
    color: white;
    padding: 1em 2em;
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 1000;
}